# Core libraries
transformers[torch]>=4.0.0
datasets>=2.0.0
evaluate>=0.3.0
sentence-transformers
faiss-cpu
openai
safetensors
streamlit
fastapi
uvicorn
pandas
scikit-learn
python-dotenv
newsapi-python
fire
PyPDF2
boto3
awscli